<form id="login-form" ng-submit="login.login()">
	<label for="username">Username</label>
	<input type="text" name="username" ng-model="login.username">

	<div id="divider"></div>

	<label for="password">Password</label>
	<input type="password" name="password" ng-model="login.password">

	<input type="submit" value="Login">

	<span id="fail-msg" ng-if="!login.success">Fail!</span>
</form>
